<form [formGroup]="replyForm" class="reply-form" (ngSubmit)="reply()">
  <input
    type="text"
    formControlName="reply-{{ commentId }}"
    id="reply-{{ commentId }}"
    #replyInput
    placeholder="Write a reply"
  />
  <div class="button-group">
    @if (!replyForm.get('reply-' + commentId)?.hasError('required')) {
      <app-field-error
        fieldName="Reply"
        [control]="replyForm.controls['reply-' + commentId]"
      />
    }
    <button class="button ghost" type="button" (click)="cancel()">
      Cancel
    </button>
    <button class="button">Reply</button>
  </div>
</form>
