@if ((session$ | async) !== undefined) {
  @if (session$ | async; as session) {
    @if (subscriptions$ | async; as subscribedChannels) {
      <ul cdkMenu>
        @for (channel of subscribedChannels; track channel._id) {
          <li>
            <a
              cdkMenuItem
              [routerLink]="['/c', channel.username]"
              class="menu-button"
            >
              <img
                class="avatar"
                [ngSrc]="channel.avatar.public_id"
                [alt]="channel.displayName"
                width="80"
                height="80"
              />
              <span>{{ channel.displayName }}</span>
            </a>
          </li>
        } @empty {
          <p class="info-text">No channels subscribed.</p>
        }
      </ul>
    } @else {
      @for (_ of placeholders; track _) {
        <app-sidebar-subscription-skeleton />
      }
    }
  } @else {
    <p class="info-text">
      <a routerLink="/auth">Login</a> to see your subscriptions.
    </p>
  }
}
