<h1 class="sr-only">Sign in to your account</h1>
<p>Welcome Back!</p>
<form #form="ngForm" [formGroup]="loginForm" (ngSubmit)="login()">
  <div>
    <label for="email">Email</label>
    <input
      type="email"
      formControlName="email"
      id="email"
      [attr.aria-invalid]="loginForm.get('email')?.errors"
      [attr.aria-errormessage]="loginForm.get('email')?.errors && 'email-error'"
      placeholder="Email address"
    />
    @if (form.submitted) {
      <div class="error">
        <app-field-error
          [control]="loginForm.get('email')"
          fieldName="Email"
          id="email-error"
        />
      </div>
    }
  </div>
  <div>
    <label for="password">Password</label>
    <input
      type="password"
      formControlName="password"
      id="password"
      placeholder="Password"
    />
  </div>
  <div>
    <button
      [disabled]="loginForm.invalid || isSubmitting"
      class="button primary"
    >
      @if (isSubmitting) {
        <app-svg-loader />
      } @else {
        Sign In
      }
    </button>
    <p>Already have an account? <a routerLink="/auth/sign-up">Sign Up</a></p>
  </div>
</form>
@if (form.submitted) {
  <app-field-error [control]="loginForm" />
}
