<h1 class="sr-only">Sign in to your account</h1>
<p>Welcome Back!</p>
<form>
  <div>
    <label for="email-username" class="sr-only">Email or username</label>
    <input
      type="text"
      name="email-username"
      id="email-username"
      placeholder="Email or username"
    />
  </div>
  <div>
    <label for="password" class="sr-only">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
    />
  </div>
  <div>
    <button type="button" class="primary">Sign In</button>
    <p>Already have an account? <a routerLink="/auth/sign-up">Sign Up</a></p>
  </div>
</form>
