<header>
  <div class="left-side">
    <button
      (click)="toggleSidebar()"
      aria-label="Toggle sidebar"
      class="button icon"
      [ngClass]="{ ghost: sidebarState() == 'collapsed' }"
      [attr.aria-expanded]="sidebarState()"
    >
      <i class="bx bxs-dock-left sm"></i>
    </button>

    <app-searchbar />
  </div>
  <div class="user-actions">
    @if ((session$ | async) !== undefined) {
      @if (session$ | async) {
        <app-user-profile />
      } @else {
        <a
          routerLink="/auth"
          [queryParams]="{ 'callback-url': currentPageUrl$ | async }"
          class="button primary"
          >Sign In</a
        >
        <a routerLink="/auth/sign-up" class="button">Sign Up</a>
      }
    }
  </div>
</header>
