<header>
  <div class="left-side">
    <button
      (click)="toggleSidebar()"
      aria-label="Toggle sidebar"
      class="button icon"
      [ngClass]="{ ghost: sidebarState() == 'collapsed' }"
      [attr.aria-expanded]="sidebarState()"
    >
      <i class="bx bxs-dock-left sm"></i>
    </button>
    <app-searchbar />
  </div>
  
  <app-if-session [notLoggedInTemplate]="notLoggedInTemplate">
    <div class="user-actions">
      <a routerLink="/studio" class="button icon primary"><i class="bx bx-plus sm"></i></a>
      <app-user-profile />
    </div>
  </app-if-session>

  <ng-template #notLoggedInTemplate>
    <div class="user-actions">
      <a
        routerLink="/auth"
        [queryParams]="{ 'callback-url': currentPageUrl$ | async }"
        class="button primary"
        >Sign In</a
      >
      <a routerLink="/auth/sign-up" class="button">Sign Up</a>
    </div>
  </ng-template>
</header>
