<header>
  <div class="search-container">
    <div class="search-box">
      <input
        type="text"
        name="search"
        autocomplete="off"
        aria-autocomplete="list"
        id="search"
        placeholder="Search for users, videos and playlists"
      />
      <i class="bx bx-search sm"></i>
    </div>
    <button aria-label="Search with voice" class="button icon primary ghost">
      <i class="bx bxs-microphone sm"></i>
    </button>
  </div>
  <div class="user-actions">
    @if ((session$ | async) !== undefined) {
      @if (session$ | async) {
        <app-user-profile />
      } @else {
        <a
          routerLink="/auth"
          [queryParams]="{ 'callback-url': currentPageUrl$ | async }"
          class="button primary"
          >Sign In</a
        >
        <a routerLink="/auth/sign-up" class="button">Sign Up</a>
      }
    }
  </div>
</header>
