@use '../../../../styles/variables';
@use '../../../../styles/mixins';

:host {
  --header-background: #{variables.$clr-gray-smooth};
}

.dark {
  :host {
    --header-background: #{variables.$clr-gluon-gray};
  }
}

header {
  padding: variables.$spacing-normal;
  gap: variables.$spacing-normal;
  background-color: var(--header-background);
  @include mixins.flex-cv;
  justify-content: space-between;

  .left-side {
    @include mixins.flex-cv;
    flex: 1;
    gap: variables.$spacing-sm;
  }

  > .user-actions {
    @include mixins.flex-cv;
    gap: variables.$spacing-sm;
  }

  app-searchbar {
    max-width: 450px;
  }
}
