<cdk-accordion class="example-accordion">
  <cdk-accordion-item
    #accordionItem="cdkAccordionItem"
    tabindex="-1"
    [attr.id]="'accordion-header-' + id"
    [attr.aria-expanded]="accordionItem.expanded"
    [expanded]="isExpandable() ? false : true"
    [attr.aria-controls]="'accordion-body-' + id"
  >
    <div
      role="region"
      [style.display]="accordionItem.expanded ? '' : 'none'"
      [attr.id]="'accordion-body-' + id"
      [attr.aria-labelledby]="'accordion-header-' + id"
    >
      <p class="content" [innerHTML]="sanitize(text)"></p>
    </div>
    @if (isExpandable()) {
      <div>
        <p>
          @if (!accordionItem.expanded) {
            <span [innerHTML]="(text | slice: 0 : maxLength) + '...'"></span>
          }

          <span
            [tabindex]="0"
            role="button"
            [attr.aria-controls]="'accordion-body-' + id"
            (click)="accordionItem.toggle()"
            (keyup)="$event.key == 'Enter' && accordionItem.toggle()"
            class="more-toggle"
          >
            see {{ accordionItem.expanded ? 'less' : 'more' }}
          </span>
        </p>
      </div>
    }
  </cdk-accordion-item>
</cdk-accordion>
