<div class="video-card">
  <div class="thumbnail-container" (click)="navigateToVideo()">
    <img
      class="thumbnail"
      [ngSrc]="video.thumbnail.public_id"
      width="600"
      height="338"
      [alt]="video.title"
    />
    @if (video.source.duration) {
      <span class="video-duration" aria-label="Video duration">{{
        video.source.duration / 60 | number: '1.2-2'
      }}</span>
    }
  </div>
  <div class="video-card-info">
    <div class="video-card-img">
      <a
        [routerLink]="['/c', video.owner.username]"
        [attr.aria-label]="video.owner.username"
        [title]="video.owner.displayName"
      >
        <img [ngSrc]="video.owner.avatar.public_id" width="80" height="80" />
      </a>
    </div>
    <div>
      <a [routerLink]="['/watch', video._id]" class="video-title">{{
        video.title
      }}</a>
      <div class="video-extra-info">
        <a [routerLink]="['/c', video.owner.username]"
          >&#64;{{ video.owner.username }}</a
        >
        <span>{{ video.views | abbreviateNumber }} views</span>
      </div>
    </div>
  </div>
</div>
