<aside>
  <div>
    <a routerLink="" class="brand">
      <svg
        width="58"
        height="34"
        viewBox="0 0 58 34"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M13.8564 10L27.7128 34H0L13.8564 10Z" fill="#F56F10" />
        <path d="M43.8564 10L57.7128 34H30L43.8564 10Z" fill="#F56F10" />
        <path d="M28.8564 24L42.7128 0H15L28.8564 24Z" fill="#F56F10" />
      </svg>

      <span>Void Video</span>
    </a>
  </div>

  <div cdkMenu>
    <div class="menu-group">
      <p class="menu-title">Menu</p>
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            [routerLinkActiveOptions]="{ exact: true }"
            class="menu-button"
            cdkMenuItem
          >
            <i class="bx bxs-compass"></i>
            <span>Browse</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/feed/subscriptions"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="menu-button"
            cdkMenuItem
          >
            <i class="bx bxs-group"></i>
            <span>Subscriptions</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="menu-group">
      <p class="menu-title">You</p>
      <ul>
        <li>
          <a
            routerLink="/feed/you"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            [routerLinkActiveOptions]="{ exact: true }"
            class="menu-button"
            cdkMenuItem
          >
            <i class="bx bxs-user-account"></i>
            <span>You</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/feed/history"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            [routerLinkActiveOptions]="{ exact: true }"
            class="menu-button"
            cdkMenuItem
          >
            <i class="bx bxs-stopwatch"></i>
            <span>Watch History</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="menu-group subscriptions">
      <p class="menu-title">Subscriptions</p>
      <ul>
        <li>
          <a
            routerLink="/u/watch-history"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            [routerLinkActiveOptions]="{ exact: true }"
            class="menu-button"
            cdkMenuItem
          >
            <img
              class="avatar"
              src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            />
            <span>Joshua Morony</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/u/subscribers"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            [routerLinkActiveOptions]="{ exact: true }"
            class="menu-button"
            cdkMenuItem
          >
            <img
              class="avatar"
              src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            />
            <span>Joshua Morony</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/u/subscribers"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            [routerLinkActiveOptions]="{ exact: true }"
            class="menu-button"
            cdkMenuItem
          >
            <img
              class="avatar"
              src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            />
            <span>Joshua Morony</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/u/subscribers"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            [routerLinkActiveOptions]="{ exact: true }"
            class="menu-button"
            cdkMenuItem
          >
            <img
              class="avatar"
              src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            />
            <span>Joshua Morony</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>
