<div class="subscription">
  <div class="subscription-image">
    <img
      class="subscription-avatar"
      [ngSrc]="subscription.avatar.public_id"
      [alt]="subscription.displayName"
      fill
    />
  </div>
  <div class="subscription-details">
    <a [routerLink]="['/c', subscription.username]" class="subscription-info">
      <span>{{ subscription.displayName }}</span>
      <span class="subscription-meta">
        <small>&#64;{{ subscription.username }}</small>
        <i class="bx bxs-circle" aria-hidden></i>
        <small
          >{{
            subscription.totalSubscribers | abbreviateNumber
          }}
          subscribers</small
        >
      </span>
    </a>
  </div>
  <div>
    <app-subscribe-button
      [channelId]="subscription._id"
      [isSubscribed]="true"
    />
  </div>
</div>
