<form [formGroup]="commentForm" (ngSubmit)="comment()">
  <app-field-error fieldName="comment" [control]="commentForm.get('comment')" />
  <label for="comment">Add a comment</label>
  <input
    autocomplete="off"
    formControlName="comment"
    type="text"
    id="comment"
    placeholder="Your thoughts on the video"
  />
  <button class="button" [disabled]="submitting">
    @if (submitting) {
      Commenting...
    } @else {
      Comment <i class="bx bxs-send xs"></i>
    }
  </button>
</form>
