<a
  class="comment-avatar"
  [routerLink]="['/c', comment.owner.username]"
  [attr.aria-label]="comment.owner.displayName"
>
  <img
    class="avatar"
    width="80"
    height="80"
    [alt]="comment.owner.displayName"
    [ngSrc]="comment.owner.avatar.public_id"
  />
</a>

<div class="comment-body" id="comment-{{ comment._id }}">
  <div class="comment-bar">
    <a
      class="comment-owner"
      [routerLink]="['/c', comment.owner.username]"
      [attr.aria-label]="comment.owner.displayName"
    >
      {{ comment.owner.displayName }}
    </a>
    <span class="comment-date">
      <span class="sr-only">Commented on</span>
      {{ comment.createdAt | date }}</span
    >
  </div>

  <div class="comment-content">
    <app-expandable-text
      [text]="comment.content | replaceLinks"
      id="comment-{{ comment._id }}"
    />
  </div>

  <div class="comment-options">
    <button
      (click)="toggleCommentLike()"
      class="button ghost"
      aria-label="Like comment"
    >
      <i class="bx bx-like xs"></i> {{ comment.likes }}
    </button>

    <button
      (click)="toggleIsReplying()"
      class="button"
      aria-label="Reply to comment"
    >
      Reply <i class="bx bx-reply xs"></i>
    </button>

    @if (comment.replies.length > 0) {
      <button
        (click)="toggleReplies()"
        aria-label="Open comment replies"
        class="button ghost reply-button"
      >
        {{ comment.replies.length }} replies
      </button>
    }
  </div>

  @if (isReplying) {
    <app-reply-form
      (close)="onReplyFormClosed($event)"
      [commentId]="comment._id"
    />
  }

  @if (showReplies) {
    <ul>
      @for (reply of comment.replies; track reply._id) {
        <li>
          <app-comment [comment]="reply" />
        </li>
      }
    </ul>
  }
</div>
