@use '../../../../styles/variables';
@use '../../../../styles/mixins';

:host {
  display: flex;
  align-items: flex-start;
  gap: variables.$spacing-normal;
  text-wrap: pretty;

  .comment-avatar {
    flex-shrink: 0;

    .avatar {
      width: 35px;
      height: 35px;
    }
  }

  .comment-body {
    flex: 1;

    .comment-bar {
      @include mixins.flex-cv;
      gap: variables.$spacing-sm;
      font-size: variables.$fs-xs;

      .comment-owner {
        font-weight: variables.$fw-semibold;
        color: inherit;
        text-decoration: none;
      }

      .comment-date {
        color: variables.$clr-dusty-gray;
      }
    }

    .comment-options {
      @include mixins.flex-cv;
      gap: variables.$spacing-sm;

      button {
        border-radius: variables.$radius-rounded;
        height: 2rem;
        gap: 2px;
        font-size: variables.$fs-xs;
        padding-inline: calc(variables.$spacing-normal / 2);

        &.reply-button {
          border: none;
          color: inherit;
        }
      }
    }

    ul {
      list-style: none;
      padding: 0;
      width: 100%;
      margin-left: -1rem;

      li {
        position: relative;

        &:first-child {
          margin-top: variables.$spacing-normal;
        }

        &:not(:last-child) {
          margin-bottom: variables.$spacing-lg;

          &::before {
            --avatar-width: 34px;
            content: '';
            background-color: transparent;
            width: var(--avatar-width);
            height: 100%;
            border-left: 1px solid rgba(variables.$clr-dusty-gray, 0.4);
            transform: translateX(50%);
            position: absolute;
            top: var(--avatar-width);
            left: 0;
            z-index: -1;
          }
        }
      }
    }
  }
}
