<div class="channel-bar">
  <div class="owner">
    <div>
      <a class="owner-avatar" [routerLink]="['/c', video.owner.username]">
        <img [ngSrc]="video.owner.avatar.public_id" width="40" height="40" />
      </a>
    </div>
    <div class="owner-info">
      <a [routerLink]="['/c', video.owner.username]" class="owner-name">{{
        video.owner.displayName
      }}</a>
      <p class="owner-subscribers">
        {{ video.owner.totalSubscribers | abbreviateNumber }} subscribers
      </p>
    </div>
    <div>
      <app-subscribe-button
        [channelId]="video.owner._id"
        [isSubscribed]="video.owner.isSubscribed"
      />
    </div>
  </div>
  <div class="video-actions">
    <div class="button-group">
      <button
        (click)="toggleLike()"
        title="Like video"
        aria-label="Like video"
        class="button ghost"
      >
        @if ((isLiked$ | async) == undefined) {
          <i class="bx bx-loader-alt sm bx-spin"></i>
        } @else {
          <i
            class="bx sm"
            [ngClass]="{
              'bxs-like': isLiked$ | async,
              'bx-like': !(isLiked$ | async)
            }"
          ></i>
          <span>{{ video.likes | abbreviateNumber }}</span>
        }
      </button>
      <button title="Share video" aria-label="Share video" class="button ghost">
        <i class="bx bxs-share bx-flip-horizontal sm"></i>
      </button>
    </div>

    <button class="button ghost options">
      <i class="bx bx-dots-vertical-rounded sm"></i>
    </button>
  </div>
</div>
