@use './variables';
@use './mixins';

form {
  gap: variables.$spacing-normal;

  > div {
    &:not(:first-child) {
      margin-top: variables.$spacing-normal;

      button {
        width: 100%;
      }

      p {
        text-align: center;
        font-size: variables.$fs-xs;
        font-weight: variables.$fw-semibold;
        color: variables.$clr-dusty-gray;

        a {
          color: variables.$clr-liquid-lava;
        }
      }
    }
    &:last-child {
      margin-top: variables.$spacing-lg;
    }
  }

  label {
    font-size: variables.$fs-xs;
    font-weight: variables.$fw-semibold;
    display: inline-block;
    color: variables.$clr-dusty-gray;
    margin-bottom: variables.$spacing-sm;
  }
}

input,
select,
textarea {
  @include mixins.input-light;
  border-radius: 0.4rem;
  height: 2.5rem;
  display: block;
  width: 100%;
  padding: variables.$spacing-sm variables.$spacing-normal;
  font-size: 0.85rem;
  font-weight: variables.$fw-semibold;
  outline: none;
  border: 1px solid transparent;
}

.dark {
  input,
  select,
  text-area {
    @include mixins.input-dark;
  }
}

:is(input, select, textarea):is(:active, :focus) {
  outline: 2px solid rgba(variables.$clr-liquid-lava, 0.2);
  border-color: variables.$clr-liquid-lava;
}

.button {
  background-color: variables.$clr-snow;
  border-radius: 0.4rem;
  min-width: max-content;
  box-shadow: variables.$shadow-smooth-dark;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  color: variables.$clr-dark-void;
  padding: variables.$spacing-sm variables.$spacing-normal;
  font-size: 0.85rem;
  font-weight: variables.$fw-semibold;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: 1px solid transparent;
  transition:
    color 100ms ease-in,
    background-color 100ms ease-in,
    filter 100ms;
}

.button:disabled {
  cursor: default;
  filter: brightness(90%);
}

.dark .button:disabled {
  filter: brightness(60%);
}

.button:is(:focus, :active):not(:disabled) {
  outline: 2px solid rgba(variables.$clr-dusty-gray, 0.4);
  outline-offset: 1px;
  border-color: rgba(variables.$clr-dusty-gray, 0.2);
}

.button.primary {
  color: variables.$clr-snow;
  background-color: variables.$clr-liquid-lava;
  border: 1px solid rgba(variables.$clr-dusty-gray, 0.2);
}

.button.primary:is(:focus, :active):not(:disabled) {
  outline: 2px solid rgba(variables.$clr-liquid-lava, 0.2);
  outline-offset: 1px;
  border-color: variables.$clr-liquid-lava;
}

.button.ghost {
  background-color: transparent;
  color: variables.$clr-dusty-gray;
  border: 1px solid rgba(variables.$clr-dusty-gray, 0.2);
}

.button.ghost:is(:hover, :active):not(:disabled) {
  background-color: variables.$clr-gray-smooth;
}

.button.icon {
  min-width: initial !important;
  padding: 0;
  aspect-ratio: 1/1;
  border-radius: variables.$radius-rounded;
}

i.bx {
  font-size: variables.$fs-icon;
  color: currentColor;
}

i.bx.sm {
  font-size: variables.$fs-icon-sm;
}

i.bx.xs {
  font-size: variables.$fs-icon-xs;
}

.alert {
  opacity: 0;
  transform: translateY(5px);
  overflow: hidden;
  max-height: 0;
  font-size: variables.$fs-xs;
  font-weight: variables.$fw-semibold;
  background: rgba(variables.$clr-liquid-lava, 0.1);
  width: 100%;
  padding: variables.$spacing-sm;
  border-radius: 5px;
  margin-top: variables.$spacing-normal;
  @include mixins.flex-cv;
  color: variables.$clr-liquid-lava;
  animation: slide-up-fade-in 200ms ease-out forwards;

  > i {
    font-size: 1.5em;
  }

  > span {
    padding-left: variables.$spacing-sm;
    margin-left: variables.$spacing-sm;
    border-left: 1px solid variables.$clr-liquid-lava;
  }
}

@keyframes slide-up-fade-in {
  100% {
    opacity: 1;
    transform: translateX(0);
    max-height: 1000px;
  }
}

.fullscreen-info-icon {
  --fullscreen-icon-bg: #{variables.$clr-snow};
  --fullscreen-icon-clr: #{variables.$clr-dark-void};
  max-width: 100%;
  width: 200px;
  height: fit-content;

  [data-background] {
    fill: var(--fullscreen-icon-bg);
  }

  [data-foreground] {
    stroke: var(--fullscreen-icon-clr);
  }
}

.dark {
  .button.ghost:is(:hover, :active):not(:disabled) {
    background-color: variables.$clr-gray-smooth-dark;
  }

  .fullscreen-info-icon {
    --fullscreen-icon-bg: #{variables.$clr-gray-smooth-dark};
    --fullscreen-icon-clr: #{variables.$clr-snow};
  }
}
