@mixin flex-cvh {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-cv {
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin even-columns($count) {
  display: grid;
  grid-template-columns: repeat($count, 1fr);
}
