@use './variables';

@mixin flex-cvh {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-cv {
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin even-columns($count) {
  display: grid;
  grid-template-columns: repeat($count, 1fr);
}

@mixin input-light {
  background-color: variables.$clr-gray-smooth;
  box-shadow: variables.$shadow-smooth;
}

@mixin input-dark {
  background-color: variables.$clr-slate-gray;
  box-shadow: variables.$shadow-smooth-dark;
}
