<button
  [cdkMenuTriggerFor]="videoOptions"
  [cdkMenuPosition]="[
    {
      originX: 'start',
      originY: 'bottom',
      overlayX: 'start',
      overlayY: 'top'
    }
  ]"
  class="button ghost options"
>
  <i class="bx bx-dots-vertical-rounded sm"></i>
</button>

<ng-template #videoOptions>
  <div cdkMenu class="menu">
    <div class="menu-group">
      <button cdkMenuItem class="menu-item">
        <i class="bx bxs-playlist sm"></i>
        <span>Save to Playlist</span>
      </button>
      <button cdkMenuItem class="menu-item">
        <i class="bx bxs-add-to-queue sm"></i>
        <span>Add to Queue</span>
      </button>
    </div>
    <div class="menu-group">
      <button cdkMenuItem class="menu-item">
        <i class="bx bxs-download sm"></i>
        <span>Download</span>
      </button>
    </div>
  </div>
</ng-template>
