<div class="channel-bar">
  <div class="owner">
    <div>
      <a class="owner-avatar" [routerLink]="['/c', video.owner.username]">
        <img [ngSrc]="video.owner.avatar.public_id" width="80" height="80" />
      </a>
    </div>
    <div class="owner-info">
      <a [routerLink]="['/c', video.owner.username]" class="owner-name">{{
        video.owner.displayName
      }}</a>
      <p class="owner-subscribers">
        {{ video.owner.totalSubscribers | abbreviateNumber }} subscribers
      </p>
    </div>
    <div>
      <app-subscribe-button
        [channelId]="video.owner._id"
        [isSubscribed]="isSubscribed"
      />
    </div>
  </div>
  <div class="video-actions">
    <div class="button-group">
      <app-like-button [videoId]="video._id" [totalLikes]="video.likes" />
      <app-share-button [videoId]="video._id" />
    </div>

    <app-video-options [videoId]="video._id" />
  </div>
</div>
