<h1 class="sr-only">Create a void video account</h1>
<p>Sign Up for Void Video</p>
<form>
  <div>
    <label for="display-name" class="sr-only">Display Name</label>
    <input
      type="text"
      name="display-name"
      id="display-name"
      placeholder="Display name"
    />
  </div>
  <div>
    <label for="username" class="sr-only">Username</label>
    <input type="text" name="username" id="username" placeholder="Username" />
  </div>
  <div>
    <label for="email" class="sr-only">Email Address</label>
    <input type="email" name="email" id="email" placeholder="Email address" />
  </div>
  <div>
    <label for="password" class="sr-only">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
    />
  </div>
  <div>
    <button class="primary">Sign Up</button>
    <p>Already have an account? <a routerLink="/auth">Sign In</a></p>
  </div>
</form>
