<h1 class="sr-only">Create a void video account</h1>
<p>Sign Up for Void Video</p>
<form #form="ngForm" [formGroup]="signupForm" (ngSubmit)="createAccount()">
  <div>
    <label for="avatar">Avatar</label>
    <input
      type="file"
      accept="image/*"
      name="avatar"
      [attr.aria-invalid]="signupForm.get('avatar')?.errors"
      [attr.aria-errormessage]="
        signupForm.get('avatar')?.errors && 'avatar-error'
      "
      (change)="onAvatarSelect($event)"
      id="avatar"
    />
    @if (form.submitted) {
      <app-field-error
        [control]="signupForm.get('avatar')"
        fieldName="Avatar"
        id="avatar-error"
      />
    }
  </div>
  <div>
    <label for="display-name">Display Name</label>
    <input
      type="text"
      formControlName="displayName"
      id="display-name"
      placeholder="Display name"
      [attr.aria-invalid]="signupForm.get('displayName')?.errors"
      [attr.aria-errormessage]="
        signupForm.get('displayName')?.errors && 'display-name-error'
      "
    />
    @if (form.submitted) {
      <app-field-error
        [control]="signupForm.get('displayName')"
        fieldName="Display name"
        id="display-name-error"
      />
    }
  </div>
  <div>
    <label for="username">Username</label>
    <input
      type="text"
      formControlName="username"
      id="username"
      placeholder="Username"
      [attr.aria-invalid]="signupForm.get('username')?.errors"
      [attr.aria-errormessage]="
        signupForm.get('username')?.errors && 'username-error'
      "
    />
    @if (form.submitted) {
      <app-field-error
        [control]="signupForm.get('username')"
        fieldName="Username"
        id="username-error"
      />
    }
  </div>

  <div>
    <label for="email">Email Address</label>
    <input
      type="email"
      formControlName="email"
      id="email"
      placeholder="Email address"
      [attr.aria-invalid]="signupForm.get('email')?.errors"
      [attr.aria-errormessage]="
        signupForm.get('email')?.errors && 'email-error'
      "
    />
    @if (form.submitted) {
      <app-field-error
        [control]="signupForm.get('email')"
        fieldName="Email"
        id="email-error"
      />
    }
  </div>
  <div>
    <label for="password">Password</label>
    <input
      type="password"
      formControlName="password"
      id="password"
      placeholder="Password"
      [attr.aria-invalid]="signupForm.get('password')?.errors"
      [attr.aria-errormessage]="
        signupForm.get('password')?.errors && 'password-error'
      "
    />
    @if (form.submitted) {
      <app-field-error
        [control]="signupForm.get('password')"
        fieldName="Password"
        id="password-error"
      />
    }
  </div>
  <div>
    <button class="primary" [disabled]="form.invalid || isSubmitting">
      @if (isSubmitting) {
        <app-svg-loader />
      } @else {
        Sign Up
      }
    </button>
    <p>Already have an account? <a routerLink="/auth">Sign In</a></p>
  </div>
</form>
@if (signupForm.hasError('server')) {
  <div class="alert">
    <i class="bx bxs-error"></i>
    <span>{{ signupForm.getError('server') }}</span>
  </div>
}
