@if (video$ | async; as video) {
  <section class="watch-layout">
    <div class="player">
      <app-video-player [videoUrl]="video.source.secure_url" />
      <div>
        <h1 class="video-title">{{ video.title }}</h1>
        <app-channel-bar [video]="video" />
        <div class="video-description">
          <div class="video-info">
            <div>
              <span>{{ video.views | abbreviateNumber }} views</span>
              <span>Uploaded {{ video.createdAt | date }}</span>
            </div>
          </div>
          <app-expandable-text [text]="video.description" [id]="video._id" />
        </div>
        @defer (on viewport) {
          <app-comment-box [videoId]="video._id" />
        } @placeholder {
          <p>Loading comments</p>
        }
      </div>
    </div>
    <div class="recommendations">
      <h2>Others from Same Owner</h2>
      @for (
        recommendation of recommendation$ | async;
        track recommendation._id
      ) {
        <div class="recommendation-item">
          <a
            [routerLink]="['/watch', recommendation._id]"
            class="recommendation-img"
            [attr.aria-label]="recommendation.title"
          >
            <!-- IMPORTANT: change secure_url to public id later with 
      ngsrc for using cloudinary loader -->
            <img
              [src]="recommendation.thumbnail.secure_url"
              width="150"
              height="84.5"
              [alt]="recommendation.title"
            />
            @if (recommendation.source.duration) {
              <span class="video-duration" aria-label="Video duration">{{
                recommendation.source.duration / 60 | number: '1.2-2'
              }}</span>
            }
          </a>
          <div>
            <a
              [routerLink]="['/watch', recommendation._id]"
              class="recommendation-title"
            >
              <!-- IMPORTANT - remove split later -->
              {{ recommendation.title.split('[')[0] }}
            </a>
            <div>
              <a
                class="recommendation-owner"
                [routerLink]="['/c', recommendation.owner.username]"
              >
                {{ recommendation.owner.displayName }}
              </a>
            </div>
            <div class="recommendation-info">
              <span> {{ recommendation.views | abbreviateNumber }} views </span>
              <span>
                {{ recommendation.createdAt | date }}
              </span>
            </div>
          </div>
        </div>
      }
    </div>
  </section>
}
