@use '../../styles/variables';
@use '../../styles/mixins';

:host {
  display: flex;
  min-height: 100dvh;

  > div {
    flex-grow: 1;
    @include mixins.flex-column;
    gap: variables.$spacing-sm;
    max-width: 1050px;
    margin-inline: auto;

    > app-header {
      position: sticky;
      top: 0;
      z-index: 5;
    }

    > main {
      flex-grow: 1;
      padding-inline: variables.$spacing-normal;
      padding-bottom: variables.$spacing-normal;
    }
  }
}
